* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lot__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 30px;
}

/* Full size images */

.lot__slider {
  position: relative;
  width: 50%;
}

.lotSliderMaxi {
  display: none;
}

.lotSliderMaxi img {
  width: 100%;
  max-width: 940px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

/* Previous and next buttons */

.lot__slider-prev, .lot__slider-next {
  cursor: pointer;
  position: absolute;
  top: 37%;
  width: auto;
  padding: 1.2em;
  color: #ffffff;
  font-weight: bold;
}

.lot__slider-next {
  border-radius: 0 10px 10px 0;
}

.lot__slider-next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.lot__slider-prev:hover, .lot__slider-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.lot__slider-prev:focus, .lot__slider-next:focus {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Numbers (1/6 ...) */

.lot__slider-number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

/* Mini size images */

.lot__slider-mini {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.lot__slider-mini img {
  width: 16%;
}

.lotSliderMiniItem {
  opacity: 0.6;
  cursor: pointer;
}

.active, .lotSliderMiniItem:hover {
  opacity: 1;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

/* Lot details */

.lot__details {
  margin: 50px 0;
  text-transform: uppercase;
}

.lot__details .model {
  font-size: 2em;
}

.lot__details-item {
  line-height: 2;
  margin: 50px 0;
}

/* Bid price */

.lot__bid-information {
  margin: 50px 0;
  text-transform: uppercase;
}

.lot__bid-price, .lot__bid-current, .lot__bid-end, .lot__bid-fee {
padding: 10px;
}

.lot__bid-information[type="submit"] {

}

/* Lot description */

.lot__description {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lot__description-item {
  background: #ffffff;
  box-shadow: 1px 5px 10px -5px #000000;
  width: 400px;
  padding: 30px;
  margin: 20px;
  border: #000000;
  border-radius: 20px;
  line-height: 2;
}

.lot__description-item:hover {
  background: #f3f6fd;
  box-shadow: 1px 5px 10px -5px #000000;
}

.lot__description h2 {
  text-align: center;
  font-weight: bold;
}
