.lot__information {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
  justify-content: space-around;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  margin: 0 10px;
}

/* Full size images */

.lot__slider {
  width: 40%;
  position: relative;
}

.lotSliderMaxi {
  display: none;
}

.lotSliderMaxi img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.8);
  position: relative;
}

/* Previous and next buttons */

.lot__slider-prev, .lot__slider-next {
  cursor: pointer;
  position: absolute;
  top: 37%;
  padding: 1em 1.3em;
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #ffffff;
  margin: 0 10px;
  background: rgba(205, 214, 219, 0.3);
}

.lot__slider-prev {
  left: 0;
}

.lot__slider-next {
  right: 0;
}

.lot__slider-prev:hover, .lot__slider-next:hover {
  background-color: rgba(80, 71, 71, 0.8);
}

.lot__slider-prev:focus, .lot__slider-next:focus {
  background-color: rgba(80, 71, 71, 0.8);
}

/* Numbers (1/6 ...) */

.lot__slider-number {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  -o-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

/* Mini size images */

.lot__slider-mini {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  margin: 10px 0;
}

.lot__slider-mini img {
  width: 16%;
}

.lotSliderMiniItem {
  opacity: 0.6;
  -webkit-filter: opacity(0.6);
  cursor: pointer;
}

.active, .lotSliderMiniItem:hover {
  opacity: 1;
  -webkit-filter: opacity(1);
  border: 1px solid rgba(0, 0, 0, 0.8);
}

/* Lot details */

.lot__details {
  margin: 10px 0;
  text-transform: uppercase;
  padding: 10px 30px;
}

.lot__details .model {
  font-size: 2em;
}

.lot__details-item {
  line-height: 2;
  margin-top: 30px;
}

/* Bid price */

.lot__bid-information {
  margin: 10px 0;
  text-transform: uppercase;
  padding: 10px 30px;
}

.lot__bid-start, .lot__bid-current, .lot__bid-end, .lot__bid-сount, .lot__bid-fee {
  padding: 10px;
}

/* Lot description */

.lot__description {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-around;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
  margin: auto;
}

.lot__description-item {
  background: #ffffff;
  box-shadow: 1px 5px 10px -5px #2c343c;
  width: 400px;
  padding: 30px;
  margin: 20px;
  border: #2c343c;
  line-height: 2;
}

.lot__description-item:hover {
  background: #f3f6fd;
  box-shadow: 1px 5px 10px -5px #2c343c;
}

.lot__description h2 {
  text-align: center;
  font-weight: bold;
}