@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,500,700&display=swap');
@font-face {
    font-family: 'Roboto', sans-serif;
    scr: url(../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
    scr: url(../fonts/Roboto/Roboto-Italic.ttf) format("truetype");
    scr: url(../fonts/Roboto/Roboto-Light.ttf) format("truetype");
    scr: url(../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* search button */

form.search {
    display: flex;
    flex-wrap: nowrap;
}

form.search input[type=text] {
    padding: 10px;
    border: 1px solid grey;
    font-size: 18px;
    background: #f1f1f1;
    width: 80%;
}

form.search button {
    padding: 8px;
    background: #00cd00;
    box-shadow: 1px 5px 10px -5px #006400;
    color: #ffffff;
    border: 1px solid grey;
    width: 20%;
    cursor: pointer;
}

form.search button:hover {
    background: #006400;
}

/* advantages */

#advantages__title {
    font-size: 50px;
    color: #606060;
    text-align: center;
    padding: 30px;
}

.advantages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advantages__item {
    background: #ffffff;
    box-shadow: 1px 5px 10px -5px #000000;
    width: 400px;
    padding: 30px;
    margin: 20px;
    border: #000000;
    border-radius: 20px;
    text-align: center;
    line-height: 2;
}

.advantages__item:hover {
    background: #f3f6fd;
    box-shadow: 1px 5px 10px -5px #000000;
}

.advantages__subtitle {
    text-align: center;
    font-weight: bold;
}

.advantages__description {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

/*auction */

#auction__title {
    font-size: 50px;
    color: #606060;
    text-align: center;
    padding: 30px;
}

.auction__lots {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.auction__item {
    display: flex;
    flex-wrap: nowrap;
    background: #ffffff;
    box-shadow: 1px 5px 10px -5px #000000;
    border: #000000;
    padding: 30px;
    margin: 10px;
}

.auction__item-details {
    padding-right: 30px;
}

.auction__item-description {
    line-height: 1.8;
}

input[type="submit"], input[type="reset"] {
    background: #00cd00;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 30px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    box-shadow: 1px 5px 10px -5px #006400;
    transition: all 0.3s ease;
    margin: 5px 0;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background: #006400;
}

.fas, .far {
    color: #606060;
    padding-right: 15px;
    width: 30px;
}

/*team */

.team {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30p;
    padding: 60px;
    text-align: center;
}

#team__title {
    font-size: 50px;
    color: #606060;
    text-align: center;
    padding: 30px;
}

.team__photo {
    border-radius: 50%;
}

.team__name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.team__phone, .team__mail, .team__network {
    text-align: center;
    padding: 5px;
    color: #337ab7;
    cursor: pointer;
}

.team__phone a, .team__mail a {
    text-decoration: none;
}

.team__phone a:link, .team__mail a:link {
    color: #000000;
}

.team__name:hover, .team__phone a:hover, .team__mail a:hover {
    box-shadow: 1px 5px 10px -5px #000000;
    cursor: pointer;
}

.team__phone li a:focus, .team__mail a:focus {
    color: #606060;
    box-shadow: 1px 5px 10px -5px #000000;
}

.team__phone li a:active, .team__mail a:active {
    color: #337ab7;
    box-shadow: 1px 5px 10px -5px #000000;
}

.team__network .fa-linkedin, .team__network .fa-instagram, .team__network .fa-facebook {
    color: #606060;
    font-size: 25px;
}

.team__network .fa-linkedin:hover, .team__network .fa-instagram:hover, .team__network .fa-facebook:hover {
    color: #000000;
    font-size: 30px;
}

/* form  */

form {
    max-width: 50%;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #000000;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 1px 5px 10px -5px #000000;
}

fieldset {
    background: rgb(236, 236, 233);
    padding: 30px;
    margin: 30px auto;
    border-radius: 20px;
    border: 1px solid #000000;
}

legend {
    background: #ffe4c4;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1em;
    width: 100%;
    text-align: center;
    border: 1px solid #000000;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
}

form input[type="submit"], input[type="reset"] {
    width: 150px;
}

/* slider */

.slider {
    overflow: hidden;
}

.slider figure {
    position: relative;
    width: 500%;
    left: 0;
    margin: 0;
    animation: 20s slider infinite;
}

.slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    90% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

/* map */

.map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    opacity: 0.5;
}

.map:hover {
    opacity: 1;
    box-shadow: 1px 5px 10px -5px #000000;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* footer */

footer {
    background: #9e9b9b;
    color: #ffffff;
}

#footer__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px;
}

.footer__phone, .footer__mail {
    padding: 10px;
}

.footer__phone a, .footer__mail a {
    text-decoration: none;
}

.footer__phone a:link, .footer__mail a:link {
    color: #ffffff;
}

.footer__phone a:hover, .footer__mail a:hover {
    color: #000000;
    ;
    cursor: pointer;
}

.footer__phone li a:focus, .footer__mail a:focus {
    color: #ff0000;
}

.footer__phone li a:active, .footer__mail a:active {
    color: #ffcc00;
}

.footer__network {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

.footer__network .fa-linkedin, .footer__network .fa-instagram, .footer__network .fa-facebook {
    color: #606060;
    padding: 0 10px;
}

.footer__network .fa-linkedin:hover, .footer__network .fa-instagram:hover, .footer__network .fa-facebook:hover {
    color: #000000;
    font-size: 30px;
}

.footer__network .fa-linkedin:focus, .footer__network .fa-instagram:focus, .footer__network .fa-facebook:focus {
    color: #000000;
    font-size: 30px;
}

.footer__network .fa-linkedin:active, .footer__network .fa-instagram:active, .footer__network .fa-facebook:active {
    color: #000000;
    font-size: 30px;
}