/* Large Devices, Wide Screens */

@media only screen and (max-width: 1440px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 1060px) {
    .header-container {
        margin: auto;
        padding: 10px;
        justify-content: space-between;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        -ms-flex-pack: space-between;
    }
    nav {
        width: 100%;
        position: relative;
    }
    nav ul {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    nav ul li {
        height: 0;
        opacity: 0;
        -webkit-filter: opacity(0);
        visibility: hidden;
    }
    nav ul li a {
        width: 100%;
    }
    nav ul li>.nav__item-submenu {
        border: none;
    }
    nav ul li.devider {
        display: none;
    }
    #menu-btn:checked+label+ul.nav>li {
        opacity: 1;
        -webkit-filter: opacity(1);
        visibility: visible;
        height: auto;
    }
    .nav-icon {
        display: block;
        position: absolute;
        top: -18px;
        margin: 0 10px;
        right: 0;
    }
    .lot__information {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    .lot__slider {
        width: 100%;
    }
    .lot__details, .lot__bid-information {
        text-align: center;
        margin: 0;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    form.search {
        width: 100%;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    body {
        font-size: 0.9em;
    }
    .auction__item-description {
        width: 100%;
        text-align: center;
    }
    form.contact input[type="submit"], form.contact input[type="reset"] {
        width: 100%;
    }
    .partner__logo-item img {
        width: 100px;
        height: 35px;
    }
    footer {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        font-size: 0.8em;
    }
    .lot__information {
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
    }
    .lot__slider {
        width: 100%;
        margin: 0;
    }
    .lot__details, .lot__bid-information {
        text-align: center;
    }
    .auction__item-block {
        flex-wrap: wrap;
    }
    .auction__item-block img {
        width: 100%;
    }
}